.list_call_box{
    display: flex;

    width: fit-content;
    height: fit-content;


}

.list_call{

    width: 10vw;
    height: fit-content;



}
.title{
    width: 100vw;
    height: fit-content;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 150vh;

}